.img-container{
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

html{
        background-image: linear-gradient(to right, rgb(0, 89, 255) , rgb(0, 255, 234));
      
}
p,h2,h3,title,h1,li {
    color: white;
}